body {
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

header {
    width: 100%;
    background: burlywood;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.header-nav-bar {
    display: flex;
    justify-content: space-between;
    height: 45px;
}

.header-nav-bar a {
    text-align: center;
    text-decoration: none;
    /* background-color: rgba(84, 35, 7, 0.247); */
    border: 1px solid rgba(146, 60, 11, 0.247);
    border-radius: 15px;
    padding: 8px;
    margin: 5px;
    color: rgb(42, 42, 42);
}

.header-nav-bar a:hover {
    background-color: rgb(209, 166, 109);
    transition-delay: 200ms;
}

h1 {
    text-align: center;
    color: rgb(99, 64, 30);
}


#content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#content a {
    width: 80%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    background-color: rgba(84, 35, 7, 0.247);
    border: 1px solid rgba(146, 60, 11, 0.247);
    border-radius: 15px;
    padding: 8px;
    color: rgb(42, 42, 42);
}

#content:first-child {
    margin-top: 10px;
}

#content a:hover {
    background-color: burlywood;
    transition-delay: 200ms;
}

.footer-nav-bar {
    display: flex;
    justify-content: center;
    height: 65px;
    gap: 20px;
}

.footer-nav-bar a {
    text-align: center;
    text-decoration: none;
    background-color: rgba(84, 35, 7, 0.247);
    border: 1px solid rgba(146, 60, 11, 0.247);
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    color: rgb(42, 42, 42);
}

.footer-nav-bar a:hover {
    background-color: burlywood;
    transition-delay: 200ms;
}