/* table,th,td {
    border: 1px solid
} */

/* * {
    margin: 0;
} */


/* منوی پروژه خبرداغ */
/* body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

div {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

div a {text-align: center;
    text-decoration: none;
    background-color: rgba(84, 35, 7, 0.247);
    border: 1px solid rgba(146, 60, 11, 0.247);
    border-radius: 15px;
    padding: 25px;
    color: rgb(42, 42, 42);
}

div a:hover {
    background-color: burlywood;
    transition-delay: 200ms;
} */
/* منوی پروژه خبرداغ */

body {
    margin: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: blanchedalmond;
}

header {
    width: 100%;
    background: burlywood;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.header-nav-bar {
    display: flex;
    justify-content: space-between;
    height: 40px;
}

.header-nav-bar a {
    text-align: center;
    text-decoration: none;
    background-color: rgba(84, 35, 7, 0.247);
    border: 1px solid rgba(146, 60, 11, 0.247);
    border-radius: 15px;
    padding: 8px;
    margin-top: 5px;
    color: rgb(42, 42, 42);
}

h1 {
    text-align: center;
}


#content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

#content a {
    width: 80%;
    text-align: center;
    text-decoration: none;
    background-color: rgba(84, 35, 7, 0.247);
    border: 1px solid rgba(146, 60, 11, 0.247);
    border-radius: 15px;
    padding: 8px;
    color: rgb(42, 42, 42);
}

#content:first-child {
    margin-top: 10px;
}

#content a:hover {
    background-color: burlywood;
    transition-delay: 200ms;
}

.footer-nav-bar {
    display: flex;
    justify-content: center;
    height: 50px;
    gap: 20px;
}

.footer-nav-bar a {
    text-align: center;
    text-decoration: none;
    background-color: rgba(84, 35, 7, 0.247);
    border: 1px solid rgba(146, 60, 11, 0.247);
    border-radius: 15px;
    padding: 10px;
    margin-top: 15px;
    color: rgb(42, 42, 42);
}